.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  background: #caefef;
  align-items: baseline;

}
mat-form-field{
  padding: .4rem;
}
.user{
  display: flex;
  position: absolute;
  right: 1.5rem;
  top: 4rem;
  z-index: 1;
  background: gainsboro;
  padding: 0.4rem;
  width: 11.5%;
  border-radius: 1rem;
  cursor: pointer;
}