 <app-loader *ngIf="loading$|async"></app-loader> 
<mat-card>
  <div class="user" *ngFor="let user of users$ | async" (click)="goToUserDetails(user.id)" appHighlight  @fadeIn>
    <h4> {{ user.id }}</h4>
    <h4>{{ user.first_name }} {{ user.last_name }}</h4>
    <h4>{{ user.email }} </h4>
    <img [src]="user.avatar" alt="user avatar" class="avatar-img" />
  </div>

</mat-card>
<div class="paging">
  <i class="material-icons" (click)="Backward()" >chevron_left</i>
  <span>
    {{page}}
  </span>
  <i class="material-icons" (click)="Forward()">chevron_right</i>
</div>