<app-loader *ngIf="loading$|async"></app-loader>
<mat-card>
  <div class="user" *ngFor="let user of users$ | async" (click)="goToUserDetails(user.id)" appHighlight @fadeIn>
    <h4> {{ user.id }}</h4>
    <h4>{{ user.first_name }} {{ user.last_name }}</h4>
    <h4>{{ user.email }} </h4>
    <img [src]="user.avatar" alt="user avatar" class="avatar-img" />
  </div>

</mat-card>
<div class="paging">

  <button mat-icon-button (click)="Backward()" [disabled]="page==1 ">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span>
    {{page$|async}}
  </span>
  <button mat-icon-button (click)="Forward()" [disabled]="page==totalPage">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>